.navbar-nav {
  margin: 0px;
}

.navbar-brand > img {
  width: 24px;
  height: 24px;
}

.navbar-brand {
  margin-top: -2px;
}

span.glyphicon {
  font-size: 1.3em;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-title {
  min-height: 32px;
}

.well-sscr {
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 5px;
}

.well-points {
  margin: 0px;
  margin-left: 2px;
  margin-bottom: 2px;
  padding: 3px;
}

.col-sscr {
  padding-right: 0px;
  border-left: 1px solid #ccc;
}

.row-border-top {
  border-top: 1px solid #ccc;
}

.col-help {
  margin-top: 5px;
}

.row > .container {
  width: 100%
}

/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #000000;
}

/* selected link */
a:active {
  color: #000000;
}

.input-row > label {
  margin-right: 20px;
  margin-top: 10px;
}

.input-row > input {
  margin-top: 10px;
}

.btn-submit {
  margin-top: 10px;
}

.error {
  color: red;
}

@media screen and (max-width: 800px) {
  .navbar-brand {
    margin-top: -3px;
  }

  .navbar-nav > li {
    width: 19%;
  }

  .col-help {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container {
    margin-top: 5px;
  }
}
