<nav class="navbar navbar-default navbar-title">
  <div class="container">
    <label>Artists</label>
  </div>
</nav>
<div class="container">
  {{#each artist in controller}}
    <div class="row well well-sm well-sscr">
      {{#link-to 'artists.view' artist}}<label>{{artist.startNumber}}. {{artist.name}} - {{artist.songName}}</label>{{/link-to}}
    </div>
  {{/each}}
</div>
