<nav class="navbar navbar-default navbar-title">
  <div class="container">
    <label>Help</label>
  </div>
</nav>
<div class="container">
  <div class="row well well-sm well-sscr">
    <div class="container">
      <div class="row">
        <h4>Point Scale:</h4>
      </div>
      <div class="row">
        <label>Based on the German school-point scale (0 to 15)</label>
      </div>
      <div class="row row-border-top">
        <div class="col-xs-7 col-md-2 col-help">
          <p>0: Unsatisfactory</p>
          <p>2: Poor</p>
          <p>5: Satisfactory</p>
          <p>8: Fair</p>
        </div>
        <div class="col-xs-5 col-md-2 col-help">
          <p>11: Good</p>
          <p>14: Very Good</p>
          <p>15: Outstanding</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row well well-sm well-sscr">
    <div class="container">
      <div class="row">
        <h4>Important when rating performances:</h4>
      </div>
      <div class="row row-border-top">
        <p class="col-help">Only rate singing and looks of the artist; Rate other performers (background) in show.</p>
        <p>The rating for show should also include the concistency of the overall performance and show.</p>
      </div>
    </div>
  </div>
</div>
