<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div>
      <ul class="nav navbar-nav nav-pills">
        <li>
          {{#link-to 'index' classNames="navbar-brand"}}<img alt="Brand" src="/assets/images/eurovision_symbol.ico">{{/link-to}}
        </li>
        <li>
          {{#link-to 'artists'}}<span class="glyphicon glyphicon-star"></span>{{/link-to}}
        </li>
        <li>
          {{#link-to 'raters'}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}
        </li>
        <li>
          {{#link-to 'help'}}<span class="glyphicon glyphicon-book"></span>{{/link-to}}
        </li>
        <li>
          {{#if session.isAuthenticated}}
            <a {{ action 'invalidateSession' }}><span class="glyphicon glyphicon-log-out"></span></a>
          {{else}}
            {{#link-to 'login'}}<span class="glyphicon glyphicon-log-in"></span>{{/link-to}}
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}
