<nav class="navbar navbar-default navbar-title">
  <div class="container">
    <label>Scoreboard</label>
  </div>
</nav>
<div class="container-fluid">
  {{#each artist in controller}}
    <div class="row well well-sm well-sscr">
      <div class="row">
        <div class="col-xs-2 col-md-1">
          <label>{{_view.contentIndex}}</label>
        </div>
        <div class="col-xs-9 col-md-5 col-sscr">
          <label>{{artist.name}} - {{artist.songName}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-1">
        </div>
        <div class="col-xs-9 col-md-5 col-sscr">
          <div class="row well well-sm well-points pull-right">
            {{artist.totalRating}} Points
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
